*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
// media query mixin
@mixin mQ($arg) {
    @media screen and (max-width:$arg) {
        @content ;
    }
}
@mixin scroll-bar($with,$bg-color) {
    ::-webkit-scrollbar {
        width: $with;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
      }
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: $bg-color;
        border-radius: 10px;
      }
}
@mixin loader {
  /* loader */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background: #0c2461;
  .loader {
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80px;
    height: 80px;

    div {
      position: absolute;
      border: 4px solid rgb(255, 255, 255);
      opacity: 1;
      border-radius: 50%;
      animation: load 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
      &:nth-child(2) {
        animation-delay: -0.5s;
      }
    }
  }
}
@keyframes load {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

}