@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* loader */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background: #0c2461;
}

.loader-container .loader {
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}

.loader-container .loader div {
  position: absolute;
  border: 4px solid white;
  opacity: 1;
  border-radius: 50%;
  animation: load 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.loader-container .loader div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes load {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(60deg, #020024 0%, #090979 35%, #00d4ff 100%);
  border-radius: 10px;
}

body {
  font-family: 'Poppins' , sans-serif;
  scroll-behavior: smooth;
}

body:before {
  content: "";
  width: 100%;
  height: 100%;
  background: url("../images/virus.png");
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  opacity: 0.2;
}

.container {
  width: 100%;
  height: 60px;
  position: relative;
  background: #020024;
  background: linear-gradient(60deg, #020024 0%, #090979 35%, #00d4ff 100%);
}

.container header {
  padding: 10px 30px;
}

.container header nav .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container header nav .menu .logo img {
  width: 35px;
  cursor: pointer;
}

.container header nav .menu .menu-items {
  display: flex;
}

@media screen and (max-width: 700px) {
  .container header nav .menu .menu-items {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100;
    top: 0;
    right: -80%;
    width: 80%;
    overflow: hidden;
    height: 100%;
    background: #00327e;
    background: linear-gradient(45deg, #020024 0%, #090979 35%, #00d4ff 100%);
    transition: 0.5s  ease-in-out;
  }
}

.container header nav .menu .menu-items li {
  list-style: none;
  padding-left: 20px;
}

.container header nav .menu .menu-items li a {
  text-decoration: none;
  color: #fff;
}

.container header nav .menu .menu-items li:nth-child(5) a {
  background: #fff;
  padding: 5px 20px;
  color: #0084E9;
  border-radius: 20px;
  transition: 0.25s ease-in-out;
}

.container header nav .menu .menu-items li:nth-child(5) a:hover {
  color: #fff;
  background: dodgerblue;
}

@media screen and (max-width: 700px) {
  .container header nav .menu .menu-items li {
    font-size: 1.2rem;
    margin-top: 50px;
  }
}

.container header nav .bars .fas {
  display: none;
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 10px;
}

@media screen and (max-width: 700px) {
  .container header nav .bars .fas {
    display: block;
  }
}

.container main .about {
  width: 100%;
}

.container main .about .intro {
  width: 80%;
  margin: auto;
}

.container main h2 {
  text-align: center;
  margin: 20px auto;
  color: #fff;
  background: #00327e;
  background: linear-gradient(45deg, #020024 0%, #090979 35%, #00d4ff 100%);
  width: 80%;
  padding: 5px 20px;
  border-radius: 20px;
  font-family: 'Montserrat' , sans-serif;
}

@media screen and (max-width: 550px) {
  .container main h2 {
    font-size: 1rem;
  }
}

.container main .grid-container {
  display: grid;
  padding: 20px;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.container main .grid-container .person {
  text-align: center;
  background: #fff;
  box-shadow: 0 0 6px #ccc;
  border-radius: 10px;
  padding: 10px 0 0 0;
  overflow: hidden;
}

.container main .grid-container .person p {
  font-size: 1.2rem;
  background: #0099b8;
  color: #fff;
  width: 100%;
  padding: 5px;
}

.container main .grid-container .person img {
  text-align: center;
  width: 150px;
  height: 150px;
  clip-path: circle();
  border-radius: 50%;
}
