<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>à propos</title>
    <link rel="stylesheet" href="../assets/css/about.css">
    <link rel="shortcut icon" href="..//assets/icons/microscope-solid.svg"  type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" defer></script>
    <script src="../assets/js/about.js" defer></script>
</head>
<body>
    <div class="loader-container">
        <div class="loader"><div></div><div></div></div>
     </div>
    <div class="container">
        <header>
            <nav>
                <ul class="menu">
                    <span class="logo"><a href="./index.html"><img src="../assets/icons/microscope-solid.svg" alt="logo"></a></span>
                    <span class="menu-items">
                        <li><a href="./index.html">Acceuil</a></li>
                        <li><a href="./index.html#prevention">Prévention</a></li>
                        <li><a href="https://news.google.com/topics/CAAqIggKIhxDQkFTRHdvSkwyMHZNREZqY0hsNUVnSm1jaWdBUAE?hl=fr&gl=FR&ceid=FR%3Afr">Actualités</a></li>
                        <li><a href="./about.html">A propos</a></li>
                        <li class="detect-btn1"><a href="./upload.html">Détecter <i class="fas fa-microscope"></i></a></li>
                        <sapn class="bars"><i class='fas fa-bars'></i></sapn>
                    </span>
                </ul>
                <sapn class="bars"><i class='fas fa-bars'></i></sapn>
            </nav>
        </header>
        <main>
            <h2>A propos</h2>
            <section class="about">
                <p class="intro">
                  Dans le cadre des minis projets du module de base de données multimédia notre groupe a proposé de créer cette application qui permet de donner des prédictions liées à l'infection par le coronavirus à l'aide de l'apprentissage profond.
                  cette application présente aussi des préventions pour se protéger contre COVID-19,
                  comme elle offre la possibilité de suivre l'évolution de l'épidémie de COVID-19 dans le monde entier.
                  
                </p>
            </section>
       
            <h2>Les membres de Groupe</h2>
            <section class="grid-container">
                <div class="person">
                    <img src="../assets/images/members/images.jpg" alt="Mohamed">
                    <p>BANHAR FADWA</p>
                </div>
                <div class="person">
                    <img src="../assets/images/members/images.jpg" alt="Mohamed">
                    <p>ERRKIK FATIMA</p>
                </div>
                <div class="person">
                    <img src="../assets/images/members/images.jpg" alt="Mohamed">
                    <p>MEFTAH MAROUANE</p>
                </div>
                <div class="person">
                    <img src="../assets/images/members/Mohamed.png" alt="Mohamed">
                    <p>MOHAMED MOUROUH</p>
                </div>
                <div class="person">
                    <img src="../assets/images/members/images.jpg" alt="Mohamed">
                    <p>SABRI Siham</p>
                </div>
            </section>
        </main>
    </div>
</body>
</html>